body {
  font-family: 'Carrois Gothic SC', sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* NAVBAR..................................... */
.navbar {
  background-color: #393e46;
}

.navbar-brand {
  font-size: 2rem;
}

.nav-link {
  margin-right: 40px;
  font-size: 2rem;
  color: white;
}

.nav-link:hover {
  color: #ffc38b;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: #ffc38b;
}

.fa-coffee {
  margin-right: 3%;
  color: white;
}

.sr-only {
  color: #ffc38b;
}

.navbar-toggler-icon {
  color: white;
  font-size: 4rem;
  padding-top: 20%;
}

/* NAVBAR ............................................ */


/* BODY//////////////////////////////////////////////// */

.coffee-title {
  width: 100%;
  height: 750px;
  position: sticky;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

.fa-question-circle {
  color: #ffc38b;
  padding-bottom: 2%;
}

.About {
  font-size: 4rem;
  padding-bottom: 50px;
  color: #ffc38b;
}

#About-Us {
  font-size: 1.3rem;
  text-align: center;
  padding: 10%;
  background-color: #393e46;
  color: white;
}

.about-paragraph {
  font-size: 1.5rem;
}

.bold{
  color: #ffc38b;
}

.location-cards{
  padding-right: 2%;
  padding-left: 50px;
}


.coffee-location {
  font-family: "Carrois Gothic SC";
  text-align: center;
  padding-left: 10px;
  padding-right: 15px;
}

#Locations {
  text-align: center;
  padding: 2% 2% 6% 2%;
  background-color: black;
  width: 100%
}



.fa-map-pin {
  color: #ffc38b;
  padding-top: 4%;
}

.our-location {
  font-size: 4rem;
  padding: 4%;
  color: #ffc38b;
}


.coffee-location{
font-size: 1rem;

}

.sea-point {
  padding-top: 9%;
}

.bree-street {
  padding-top: 8%;
}

.green-point {
padding-top: 10%;

}

.coffee-location {
  -webkit-transition: all 1s ease;
  /* Safari and Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-transition: all 1s ease;
  /* IE 9 */
  -o-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
}

.coffee-location:hover {
  -webkit-transform: scale(1.02);
  /* Safari and Chrome */
  -moz-transform: scale(1.02);
  /* Firefox */
  -ms-transform: scale(1.02);
  /* IE 9 */
  -o-transform: scale(1.02);
  /* Opera */
  transform: scale(1.02);
}

#social {
  background-color: #393e46;
  text-align: center;
}

.social-icon {
  margin: 22px 11px;
  color: white;
  padding-top: 100px;
  padding-bottom: 111px;
  text-align: center;
}

.social-icon:hover {
  color: #ffc38b;
}

.copy {
  margin: 0px;
  color: white;
}

/* BODY//////////////////////////////////////////////// */
/* MENU PAGE BODY///////////////////////////////// */
.Menu-image {
  width: 100%;
  height: 700px;
}

#treats {
  background-color: #393e46;
}

.menu-sweets {
  padding-left: 15%;
  font-size: 3rem;
  padding-top: 20px;
  color: #ffc38b;
}

.dishes {
  padding-left: 15%;
  font-size: 1.3rem;
  padding-top: 10px;
  color: white;
}

.Pastries {
  width: 30%;
  height: 715px;
  margin-right: 0px;
  position: absolute;
  right: 0;
}

.coffee-mug {
  width: 30%;
  height: 751.5px;
  margin-right: 0px;
  margin-top: -2px;
  padding-top: -2px;
  position: absolute;
  right: 0;
}

.coffee {
  padding-left: 22%;
  font-size: 1.9rem;
  padding-top: 10px;
  color: white;
}

.coffee-menu {
  background-color: black;
}

.menu-coffee {
  padding-left: 22%;
  font-size: 3rem;
  padding-top: 20px;
  color: #ffc38b;
}

.Pastries-Menu {
  -webkit-transition: all 1s ease;
  /* Safari and Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-transition: all 1s ease;
  /* IE 9 */
  -o-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
}

.Pastries-Menu:hover {
  -webkit-transform: scale(1.02);
  /* Safari and Chrome */
  -moz-transform: scale(1.02);
  /* Firefox */
  -ms-transform: scale(1.02);
  /* IE 9 */
  -o-transform: scale(1.02);
  /* Opera */
  transform: scale(1.02);
}

#Coffee-section {
  -webkit-transition: all 1s ease;
  /* Safari and Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-transition: all 1s ease;
  /* IE 9 */
  -o-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
}

#Coffee-section:hover {
  -webkit-transform: scale(1.01);
  /* Safari and Chrome */
  -moz-transform: scale(1.01);
  /* Firefox */
  -ms-transform: scale(1.01);
  /* IE 9 */
  -o-transform: scale(1.01);
  /* Opera */
  transform: scale(1.01);
}

/* SOCIAL MENU////////////////////////////////// */
.Menu-social {

  color: white;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  font-size: 40%;
}

#social{
  margin-bottom: 0%
}

.social-icon:hover {
  color: #ffc38b;
}

/* MENU-END///////////////////////////////////// */
