@media (max-width: 991px){

  .navbar-brand {
    font-size: 3rem;
  }

  .nav-link {
    margin-right: 40px;
    font-size: 3rem;
    color: white;
  }

  .fa-coffee {
    margin-right: 3%;
    color: white;
  }

  .navbar-toggler-icon{
    color: white;
  font-size: 4rem;
  padding-top: 20%;

  }

  .fa-question-circle {
    color: #ffc38b;
    padding-bottom: 2%;
  }


  .About {
    font-size: 5rem;
    padding-bottom: 50px;
    color: #ffc38b;

  }

  #About-Us {
    font-size: 1.5rem;
    text-align: center;
    padding: 10%;
    background-color: #393e46;
    color: white;}


    .about-paragraph {
      font-size: 1.8rem;
    }

    #Locations{
      text-align: center;
      padding: 2% 6% 9% 12%;
      background-color: black;
      width: 100%
    }

.fa-map-pin{
padding-top: 10%;

}

    .our-location{
      font-size: 5rem;
      padding: 4%;
      color: #ffc38b;}

.coffee-location {
  padding-top: 10%;
  padding-left: 11rem;
  font-size: 1.4rem;
  text-align: center;

}
 .location-picker{
   width: 300px;
 }



      .sea-point{
        padding-top: 10%;
        padding-bottom: 10%;
      }

      .bree-street{
        padding-top: 20%;
      }

      .social-icon{
        margin: 22px 11px;
      color: white;
      padding-top: 100px;
      padding-bottom: 111px;

      text-align: center;
      }


      .menu-sweets{
        padding-left: 15%;
        font-size: 3rem;
        padding-top: 20px;
        color:  #ffc38b;
      }

      .dishes{
        padding-left: 15%;
        font-size: 1.7rem;
        padding-top: 10px;
        color: white;

      }

      .Pastries{
        width: 38%;
        height: 957px;
        margin-right: 0px;
        position: absolute;
          right: 0;

      }

      .coffee-mug{
        width: 38%;
        height: 845px;
        margin-right: 0px;
        margin-top: -2px;
        padding-top: -2px;
        position: absolute;
        right: 0;

      }

      .coffee{
        padding-left: 22%;
        font-size: 2rem;
        padding-top: 10px;
        color: white;

      }

      .menu-coffee{
        padding-left: 22%;

        font-size: 3rem;
        padding-top: 20px;
        color:  #ffc38b;
      }

      .Menu-social{
        margin: 22px 11px;
      color: white;
      padding-top: 70px;
      padding-bottom: 70px;
      text-align: center;
}



}
