
@media  (max-width: 990px){


.name{
  font-size: 9rem;
}

.aka{
  font-size: 3rem;
}

.hello{

font-size: 4rem;

}

.intro{

  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 2.8rem;
}

h5{
font-size: 2.4rem;

}

  html,body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat';
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

  }


.MENU {

  font-size: 2.8rem;
  color:#66BFBF;
  margin-left: -150%;
}

  .profileboy3{
      height: 120px;
      width: 120px;
    }


  .nav-link {
      font-size: 2rem;
        padding-top: 9%;
      padding-bottom: 9%;
      margin-left: 12%;
      text-align: left;
  }





  .cloud1{

  margin-right: 60%;
    z-index: -1;

  }

  .cloud2{
    margin-left: -27%;
    width: 20%;
    z-index: -1;
  }



  p{
    font-size: 2.3rem;
  }

.profileboy2{
  width: 60%;
}


.development{
width: 60%;
}

.end-heading{
  font-size: 3rem;
}
.endsentence{
  font-size: 2.4rem;
}

  .profile{
    font-size: 2rem;
  }

.testbutton{
  height: 90px;
  line-height: 90px;
  width: 300px;
}


  /* PORTFOLIO........................ */



  .cloud1portfolio{
    margin-left: -11%;
  }

.portfolioheading{
  font-size: 10rem;
}


  .cloud2portfolio{
      margin-left: -27%;
  }

  .laptop-gif{
    width: 30%;
  }

.port-heading{
  font-size: 3rem;
}

.port-paragraph{
  font-size: 2.8rem;
}

#website1{
 width: 100%;
height: 100%;
padding-left: 70px;
 }

#website2{
  width: 100%;
 height: 100%;
padding-left: 70px;
}

#website3{
  width: 100%;
 height: 100%;
padding-left: 70px;
font-weight: bold;
}

#website4{
  width: 100%;
 height: 100%;
padding-left: 70px;
}




.contact-section{
  font-size: 3.2rem;
}



/* MEDIA........................................... */
